.men_products_container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  background-color: #eceef0;
  overflow: hidden;
  position: relative;
}
.slide_slide {
  display: flex;
}
.mobile_slide {
  display: none;
}
.slider_slides {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relatedimages {
  height: 100px;
  display: flex;
  position: relative;
}
.relatedimages .imgs {
  max-width: 100px;
  height: auto;
  padding: 0rem;
  margin: auto;
  transition: all 200ms ease-in;
}
.slide_patterns_mobile {
  position: absolute;
  top: 6vh;
  width: 100%;
  z-index: 6;
  left: auto;
  right: auto;
}

.slider_slides .slide_footer {
  width: 100%;
  height: 100px;
  z-index: 2;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.slide_footer .slide_description {
  font-family: "Century Gothic", sans-serif;
  display: flex;
  width: 100%;
  padding-right: 2rem;
  justify-content: space-between;
  align-items: center;
}
.slide_description .price {
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 3rem;
}
.slide_description .colors,
.colors .bar_textcolor {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bar_textcolor .colorbar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.slide_patterns {
  min-width: 40%;
  height: auto;
}

.slide_svg_wrapper .slide_svg_text {
  font-family: "Century Gothic";
  font-size: 3rem;
  font-weight: 500;
  margin-right: auto;
  color: transparent;
  opacity: 1;
  stroke-width: 2;
  -webkit-animation: textAnimate 3s infinite alternate;
  animation: textAnimate 3s infinite alternate;
}

@-webkit-keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
  }
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: rgba(254, 255, 255, 0);
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgba(255, 255, 255, 0);
  }
}

.slide_footer .cart_background {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  z-index: 4;
  color: white;
  cursor: pointer;
}
.product_text {
  gap: 2rem;
  font-size: 14px;
  font-family: "Century Gothic";
  margin: auto auto 0 auto;
  z-index: 4;
  width: 40%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}
.product_text p {
  padding: 0.49rem 0;
}
.slider_slides .image {
  display: flex;
  margin: auto;
  top: auto;
  width: 100%;
  object-fit: contain;
  position: absolute;
  transform: scale(1.3, 1.3);
  height: 100%;
  left: auto;
  right: auto;
  bottom: 10%;
}
.arrow_right,
.arrow_left {
  z-index: 3;
  position: absolute;
  bottom: auto;
  margin: auto;
  top: 50vh;
  padding: 2rem;
  border-radius: 50%;
  /* border: 2px solid black; */
}
.arrow_right {
  right: 5%;
}
.arrow_left {
  left: 5%;
}
.arrow_left .button--skoll span span {
  transform: rotate(180deg);
}
.arrow_left,
.arrow_right {
  transition: 300ms ease-in-out;
}
.arrow_right,
.arrow_left {
  list-style-type: none;
  /* width: 100%; */
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
}
.skoll-button {
  pointer-events: auto;
  letter-spacing: 2px;
  cursor: pointer;
  background: #000000;
  color: black;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.skoll-button::before,
.skoll-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--skoll {
  position: absolute;
  top: 2%;
  right: 5%;
  overflow: hidden;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  width: 60px;
  height: 60px;
  padding: 0;
  font-weight: 500;
  z-index: 4;
  border: 1px solid black;
  box-shadow: 1px 1px 3rem 0px white;
}

.button--skoll span {
  display: block;
  position: relative;
}

.button--skoll > span {
  overflow: hidden;
}
.swipe_txt {
  display: flex;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 40%;
  bottom: auto;
  z-index: 6;
  right: auto;
}
.button--skoll:hover > span > span {
  color: white;
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

.button--skoll::before {
  content: "";
  background: rgb(233, 233, 233);

  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.button--skoll:hover::before {
  transform: translate3d(0, 100%, 0);
}
@media screen and (max-width: 1025px) {
  .slider_slides img {
    transform: scale(1, 1);

    /* bottom: 10%; */
  }
  .slide_svg_wrapper .slide_svg_text {
    font-size: 1.6rem;
  }
  .product_text {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 70%;
    margin-bottom: 0rem !important;
  }
}

@media screen and (max-width: 800px) {
  .button--skoll {
    width: 40px;
    height: 40px;
  }
  .slide_description .price {
    width: 200px;
  }
  .relatedimages {
    top: 76vh;
    left: 0vw;
    right: 0%;
    position: absolute !important;
  }
}
@media screen and (max-width: 600px) {
  .mobile_slide img {
    transform: scale(1, 1);

    bottom: 10%;
  }
  .relatedimages {
    top: 53vh;
    left: 5vw;
    right: 0%;
    position: absolute !important;
  }
  .relatedimages .imgs {
    max-width: 150px;
  }
  .slide_svg_wrapper .slide_svg_text {
    font-size: 1.6rem;
    margin-top: 4rem;
    transform: translateY(40px);
  }
  .mobile_slide .price {
    font-size: 1rem;
    margin: auto;
    width: 150px;
  }

  .color_text {
    display: none;
  }
  .product_text {
    font-size: 12px;
    width: 70%;
    margin-bottom: 0rem !important;
    transform: translateY(59px);
  }

  .mobile_slide .slide_footer {
    height: 50px;
    margin-right: auto;
  }
  .mobile_slide .colors,
  .colors .bar_textcolor {
    gap: 0.4rem;
    justify-content: center;
  }
  .bar_textcolor {
    font-size: 12px;
  }
  .bar_textcolor .colorbar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .slide_footer .cart_background {
    padding: 0% 0.5rem;
    z-index: 4;
    font-size: 12px;
    color: white;
  }
}
@media screen and (max-width: 600px) {
  .relatedimages {
    top: 20vh;
    left: 20%;
    right: 30%;
    position: absolute !important;
  }
  .relatedimages .imgs {
    max-width: 50px;
    object-fit: contain;
  }
}
