.checkout-box{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    align-self: center;
}
.checkout-box .checkout-container{
    margin: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
.checkout-box .number-container{
    display: flex;
    gap: 2rem;
}
.checkout-box .number-container .number-box, .expirydate .rounded, .cvv .rounded{
    border: 2px solid black;
display: flex;
gap: .50rem;
padding: 1rem;
border-radius: 10px;
} 
.checkout-container .expirydate-cvv{
    display: flex;
    justify-content: space-between;
}
.checkout-container .expirydate-cvv .expirydate, .cvv{
    display: flex;
    flex-direction: column;
    gap: .50rem;
}

.checkout-box .money-vendors-container{
    display: flex;
    width: 100%;
    gap: 1rem;
justify-content: center;
}
.money-vendors-container .vendor{
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid black;
}